body {
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* style for House.js */
.house{
  padding: 20px 100px ;
}
.cards{
  padding: 0;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid black;
}
.space{
  padding: 0;
}
.container{ 
  background-color: #fff;
  margin: 0 auto;
  width: 220px;
  padding-bottom: 0px;
  height: auto;
  line-height: 0.4em;
  border-radius: 10px;
}
.description{
  line-height: 1.3em;
}
.bookBtn{
  padding: 5px 14px;
  color: #fff;
  border: 1px solid rgb(90, 133, 10);
  border-radius: 5px;
  background-color: rgb(90, 133, 10);
}
.price{
  float: right;
}
.info{
  padding:5px 15px;
}
.pad{
  padding: 10px 15px;
}
img{
  border-radius: 10px 10px 0px 0px;
}

/* style for Services.js */
.service{
  padding: 20px 100px ;
  margin-top: 20px;
  background-color: #fff;
  /* padding: 15px 0px 30px 0px; */
}
ul{
  padding: 0;
  list-style: none;
}
li::before {
  content: "•O• ";
  color: rgb(90, 133, 10); 
}
/* style for Banner.js */
.hero-img{
  width: 100%;
  background-size: cover;
  z-index: 1;
  height: 400px;
  background-repeat: no-repeat;
}
.hero-text{
  text-align: center;
  margin: auto;
}

/* media query */
/* Mobile View */
@media screen and (min-width:250px) and (max-width:480px) {
  .cards{
    grid-template-columns: auto;
  }
  .container{
    margin-bottom: 20px;
  }
  .house{
    padding: 20px 10px ;
  }
  .service{
    padding: 20px 10px ;
  }  
  .hero-img{
    height: 200px;
  }
}

 /* Tablet View */
 @media screen and (min-width:481px) and (max-width:768px) {
  .cards{
    grid-template-columns: auto auto auto;
  }
  .container{
    margin-bottom: 20px;
  }
  .house{
    padding: 20px 30px ;
  }
  .service{
    padding: 20px 30px ;
  }  
  .hero-img{
    height: 300px;
  }
}
 /* Laptop View */
 @media screen and (min-width:769px) and (max-width:1124px) {
  .cards{
    grid-template-columns: auto auto auto auto;
  }
  .house{
    padding: 20px 60px ;
  }
  .service{
    padding: 20px 60px ;
  } 
}